
.color-red{
    color: rgb(162, 43, 43);
}

.color-grey{
    color: grey;
}

.dateHint-placement{
    margin-left:20px;
}

.middle{
    text-align: center;
}

.middle-table{

    margin-left: auto;
    margin-right: auto;
}

.header-margin{

    margin-left: 20px;
}

.font40{
    font-size: 40px;
}

.body{

    background-color: rgb(205, 202, 202);
}

.input-size{
    width: 200px;
    height:30px; 
}

.padding-to-left{
    padding-left: 50px;
}

.padding-to-right{

    padding-right: 50px;
}

.text-area{
    color:darkgrey;
}


.button-middle{

  height: 200px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flex-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding: 15px 12px;
    background-color: grey;
}

.first-header1{

   
}

.first-header2{

    

}

.radio-button-right{
    margin-left: 25px;
    
}

.radio-button-left{
    margin-right: 30px;
}

.radio-button-right2{
    margin-left: 27px;
}

.radio-button-right22{
    margin-left: 242px;
}

.radio-button-right3{
    margin-left: 27px;
}

.radio-button-right33{
    margin-left: 200px;
}

.radio-button-right4{
    margin-left: 27px;
}

.radio-button-right44{
    margin-left: 200px;
}

.textbox-placement{
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}
