
.color-red{
    color: rgb(162, 43, 43);
}



.color-grey{
    color: grey;
}

.dateHint-placement{
    margin-left:20px;
}

.middle{
    text-align: center;
}

.middle-table{

    margin-left: auto;
    margin-right: auto;
}

.header-margin{

    margin-left: 20px;
}

.fontbold{
    
    font-weight: bolder;
}

.body{

    background-color: rgb(215, 215, 215);
}

.input-size{
    width: 200px;
    height: 35px; 
}

.padding-to-left{
    padding-left: 50px;
}

.padding-to-right{

    padding-right: 50px;
}

.text-area{
    color:darkgrey;
}

.button {
    border: none;
    background-color: rgb(59, 58, 58);
    background-image: linear-gradient(to right, #474545 0%, #83807f 51%, #474545 100%);
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 30px;
    width: 130px;
}


/* .button-middle{

  height: 200px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

.flex-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .button{
    padding: 15px 12px;
    background-color: rgb(105, 103, 103);
} */

.first-header1{

    margin-left: 20px;
}

.first-header2{

    margin-right: 15px;
}

.radio-button-right{
    margin-left: 25px;
    
}

.radio-button-left{
    margin-right: 45px;
}

.radio-button-right2{
    margin-left: 27px;
}

.radio-button-right22{
    margin-left: 242px;
}

.radio-button-right3{
    margin-left: 25px;
}

.radio-button-right33{
    margin-left: 200px;
}

.radio-button-right4{
    margin-left: 27px;
}

.radio-button-right44{
    margin-left: 200px;
}

.textbox-placement{
    margin-left: 20px;
}

.body-color{
   background-color: rgb(150, 150, 150);
}

.body-table1-color{
    background-color:white;
}
